@media (max-width: @screen-xs) {
    span {font-size: 10px;}
}

@media (max-width: @screen-sm) {
    span{font-size: 14px;}
}

@media (max-width: @screen-xs) {
    span{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    span{font-size: 14px;}
}