/*
Dark Primary (Teal):  #00796B;
Primary (Teal):       #009688;
Light Primary (Teal): #B2DFDB;
Text:                 #FFFFFF;
Accent (Lt. Green):   #8BC34A;
*/

body {
	background-color: #B2DFDB;
	color: #000;
	font-size: 1.618em;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 6.854em;
	font-weight: bold;
	text-shadow: 5px -4px 0px rgba(0, 121, 107, 1);
}

h2 {
	font-size: 4.236em;
}

h3 {
	font-size: 2.618em;
}

p  {
	font-family: 'Open Sans', sans-serif;
	width: 75%;
	line-height: 1.618em;
}

li {
	font-family: "open sans", sans-serif;
	line-height: 1.618em;
}

a {
	color: #00796B;
	text-decoration: none;

}

a:hover {
	color: #00796B;
	text-decoration: underline;
}

.content {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #8BC34A;
}

#title {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #00796B;
	background-image: url("http://i.imgur.com/Hp2N30m.png");
	color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 30px;
}

.lcon {
	background-color: #009688;
	color: #fff;
	padding-bottom: 50px;

}

.rcon {
	background-color: #FFF;
	color: #000;
	padding-top: 20px;
	padding-bottom: 20px;


}

.floral {
	background-image: url("http://i.imgur.com/wY6rjns.png");
	background-repeat: repeat;
	height: 300px;
}

.leaves {
	background-image: url("http://i.imgur.com/1rOlSuB.png");
	background-repeat: repeat;
	height: 200px;
}

.paisley {
	background-image: url("http://i.imgur.com/pxPrwtm.png");
	background-repeat: repeat;
	height: 200px;
}

.diamond {
	background-image: url("http://i.imgur.com/pGEQnrr.png");
	background-repeat: repeat;
	height: 200px;
}

.imgbar {
	margin-top: 10px;
	margin-bottom: 10px;
}


