body {
  padding-top: 50px;
  font-family: 'Arvo', serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h1 {
  font-size: 4.236em;
  letter-spacing: -0.5px;
  line-height: 1;
}
h2 {
  font-size: 2.736em;
  text-transform: uppercase;
}
p {
  background-color: white;
  max-width: 500px;
  padding: 50px;
}
.h2-light {
  text-shadow: -2px 2px 0 #ffffff, -3px 3px 0 #f1c40f;
}
.h2-dark {
  color: #fff;
  text-shadow: -2px 2px 0 #7f8c8d, -3px 3px 0 #f1c40f;
}
.h2-popup {
  color: #fff;
  text-shadow: -2px 2px 0 #7f8c8d, -3px 3px 0 #f1c40f;
}
#nav-intro {
  background: url(../img/39H.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  padding-top: 50px;
}
#nav-intro #first-name {
  text-transform: uppercase;
  color: #ecf0f1;
}
#nav-intro #last-name {
  font-weight: 400;
  color: #bdc3c7;
}
#nav-intro .sub {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.618em;
  text-transform: lowercase;
}
#nav-intro .sub-attr {
  color: #f1c40f;
}
#nav-about {
  padding: 50px 0;
}
#nav-about #sr-pic {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 40px;
}
#nav-about #sr-pic:hover {
  cursor: pointer;
  cursor: hand;
}
#about-icon {
  padding: 25px 0;
  margin-bottom: 70px;
}
#nav-projects {
  background-color: #333333;
  padding: 50px 0;
}
#nav-projects img {
  margin: 50px auto 50px;
}
#nav-contact {
  padding: 50px 0;
}
#contact-icon {
  padding: 25px 0 400px;
}
.icon-row {
  padding-top: 20px;
  padding-bottom: 50px;
}
.fa {
  background-color: #333333;
  color: #fff;
  border-radius: 50%;
  padding: 20px;
}
.fa:hover {
  color: #f1c40f;
  cursor: pointer;
  cursor: hand;
}
#mobile-icon {
  padding: 20px 30px;
}
