/* Dull Colors */
/* Vibrant Colors */
/* Functions */
/* Global */
body {
  background-color: #FFF;
  color: #223333;
  font-size: 1.618em;
  font-family: 'PT Serif', serif;
}
p {
  background-color: #fff;
  line-height: 1.618em;
  margin-top: 1.618em;
  margin-bottom: 1.618em;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  max-width: 800px;
  opacity: .85;
}
a {
  color: #113344;
  text-decoration: underline;
}
a:hover {
  color: #113344;
  text-decoration: none;
}
/* Utility */
.divider {
  background-color: #223333;
  height: 10px;
}
/* Headers */
h1,
h2,
h3,
h4 {
  font-family: 'Patua One', cursive;
  color: #ffffcc;
  text-shadow: -4px 3px 0 #dddd99, -14px 7px 0 #223333;
  font-weight: bold;
}
h1 {
  font-size: 6.854em;
  padding-top: 1.618em;
  padding-bottom: 1.618em;
}
h2 {
  font-size: 4.236em;
}
h3 {
  font-size: 2.618em;
}
/* Page Headers */
.bar {
  padding-top: 2.618em;
  padding-bottom: 2.618em;
  background-color: #fff;
  opacity: .85;
}
#head {
  background: url(http://i.imgur.com/iRnlULk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#aboutbar {
  background: url(http://i.imgur.com/WHAxDcm.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#projbar {
  background-color: #223333;
}
#contactbar {
  background: url(http://i.imgur.com/zfxVJBa.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Page Content */
#aboutbox {
  background: url(http://i.imgur.com/WHAxDcm.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#projbox {
  background-color: #113344;
}
#contactbox {
  background: url(http://i.imgur.com/zfxVJBa.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 40px;
}
#contactbox a {
  text-decoration: none;
}
#credit {
  background: url(http://i.imgur.com/zfxVJBa.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000;
  padding-top: 500px;
}
/* Testing */
