body {
  padding-top: 50px;
  font-family: Arvo;
}
#hero-row {
  background: url(../img/39H.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  padding-top: 50px;
}
#hero-row .title-text {
  font-size: 4.236em;
  letter-spacing: 0px;
  line-height: 1;
}
#hero-row #title-first {
  font-weight: bold;
  text-transform: uppercase;
  color: #ecf0f1;
}
#hero-row #title-last {
  color: #bdc3c7;
}
#hero-row #subtitle {
  font-family: 'Open Sans';
  letter-spacing: 1px;
  font-size: 1.618em;
  padding-top: 10px;
}
#hero-row .subtitle-attr {
  color: #f1c40f;
}
#nav-about {
  padding: 60px 0;
}
#nav-about #prof-pic {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  padding: 10px;
  margin-top: 30px;
}
#nav-about #about-title {
  font-size: 36px;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-shadow: -2px 2px 0 #ffffff, -3px 3px 0 #f1c40f;
  font-weight: bold;
}
#about-text p {
  font-family: 'Open Sans';
  font-weight: 300;
  color: #333333;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 0;
  font-size: 1.618em;
}
#projects {
  background-color: #333333;
  color: #fff;
  padding: 60px 0;
}
#projects img {
  margin-right: auto;
  margin-left: auto;
}
#projects #project-title {
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-shadow: -2px 2px 0 #333333, -3px 3px 0 #f1c40f;
}
#nav-contact {
  padding: 60px 0;
}
#nav-contact #contact-title {
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-shadow: -2px 2px 0 #ffffff, -3px 3px 0 #f1c40f;
}
#contact-icon {
  padding-bottom: 300px;
}
.icon-row {
  padding-top: 20px;
  padding-bottom: 20px;
}
.fa {
  background-color: #333333;
  color: #fff;
  border-radius: 50%;
  padding: 20px;
}
.fa:hover {
  color: #f1c40f;
}
