body {
	font-family: Lato, sans-serif;
	background: #1abc9c url(http://i.imgur.com/CgNQFNH.png);
	background-attachment: fixed;
}

h1 {
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
}

img.proj-pic {
	margin: 5px;

}

a.navbar-brand {
	font-weight: bold;
	letter-spacing: 2px;
	color: #1abc9c;
}

.green {
	color: #1abc9c;
}

.top-buffer {
	margin-top: 5%;
	padding: 5%
}

.proj {
	padding: 10px 0;
	background-color: white;
	margin: 20px;
}

.content {
	padding: 20px 10px;
	background-color: white;
	
	margin: 20px auto;
}