html {font-size: 1em;}

body {
	font-family: Lato, sans-serif;
	background: #1abc9c url(http://i.imgur.com/CgNQFNH.png);
	background-attachment: fixed;
	font-weight: 400;
	line-height: 1.45;
	color: #2c3e50;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
	margin: 1.414em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}

h1 {
	margin-top: 0;
	font-size: 3.998em;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

img.proj-pic {
	margin: 5px;

}

a.navbar-brand {
	font-weight: bold;
	letter-spacing: 2px;
	color: #1abc9c;
}

.green {
	color: #1abc9c;
}

.c-img {
	padding: 3px;
}

.top-buffer {
	margin-top: 5%;
	padding: 5%
}

.proj {
	padding: 10px 0;
	background-color: white;
	margin: 20px;
}

.content {
	padding: 20px 10px;
	background-color: white;
	
	margin: 20px auto;
}